<ion-header>
  <ion-toolbar color="rgb(14,65,148)">
    <ion-title class="ion-text-center">Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-camera-scanner">
    <button class="scan-button" (click)="scanCode()"><ion-icon class="icon-qr" name="qr-scanner"></ion-icon></button>
  </div>
  <div class="box-result-scanner">
    <p *ngIf="!scannedData">Sin resultados ...</p>
    <p *ngIf="scannedData">Scanned Code Text : <b>{{scannedData['text']}}</b></p>
    <p *ngIf="scannedData">Scanned Code Format : <b>{{scannedData['format']}}</b></p>
  </div>
</ion-content>
